<div class="mt-4">
  {{! <form method="POST"> }}
  <form method="GET" action="/news">

    <div class="form-group">
      <label for="search-input">Từ khoá</label>
      <input type="text" name="name" />
      <input type="text" name="age" />
      <input
        type="text"
        name="q"
        class="form-control"
        id="search-input"
        placeholder="Nhập tìm kiếm"
      />
    </div>

    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>